body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.o-nama-layout {
  margin-top: 67px;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.o-nama-img {
  width: 50%;
  height: 100%;
  background-image: url('/o-nama-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.o-nama-layout p {
  width: 50%;
  background-color: #AF9E9E;
  color: #6A4E4E;
  margin: auto;
  margin-left: 50px;
  margin-right: 50px;
  padding: 60px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  overflow-y: auto;
}
